<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>HTML</title>
  
  
  <link rel="stylesheet" href="../Styles/style.css">
</head>

<body>
  <div class="wrapper">
    <h1>Instagram Clone</h1>
    <a href="/auth"><button >Authenticate yourself to continue</button></a>
  </div>
  <script src="main.js"></script>
</body>
</html>