<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Instagram</title>
  <meta name="description" content="" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200.800&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="../Styles/user.css" />

  <script src="https://kit.fontawesome.com/7fe33fff69.js" crossorigin="anonymous"></script>

</head>

<body>
  <div class="loader">
    <img src="./assets/Instagram_Glyph_Gradient.png" alt="">
  </div>
  <div class="wrapper">
    <div class="home">
      <nav class="navbar">
        <div class="image">
          <img src="./assets/Instagram_Glyph_Gradient.png" alt="./assets/Instagram_Glyph_Gradient.png">
        </div>
        <div>
          <i class="fa-brands fa-facebook-messenger fa-xl"></i>
          <i class="fa-solid fa-gear fa-xl"></i>
        </div>
      </nav>
      <div class="status-bar">
        <div class="circle add">
          <div class="inner-circle">
            <i class="fa-solid fa-plus"></i>
          </div>
        </div>
      </div>
      <div class="posts">
        <div class="post" id="sec-id-272" style="--display:block">
          <div class="postName">
            <div class="image">

            </div>
            <div class="name">
              <p>Name of User</p>
            </div>
          </div>
          <div class="post-block">
            <div class="post-">
              <div>
                <img src="./assets/images (7).jpeg" alt="alter">
              </div>
              <div>
                <img src="./assets/images (8).jpeg" alt="">
              </div>
              <div>
                <img src="./assets/images (9).jpeg" alt="">
              </div>
              <div>
                <video src="./assets/test.mp4" type="video/mp4" autoplay muted loop></video>
              </div>
            </div>
            <div class="count">
              <i class="fa-solid fa-circle-dot fa-2xs"></i>
              <i class="fa-solid fa-circle fa-2xs"></i>
              <i class="fa-solid fa-circle-dot fa-2xs"></i>
            </div>
          </div>
          <div class="post-actions">
            <div class="left">
              <i class="fa-regular fa-heart heart fa-xl heart"></i>
              <i class="fa-regular fa-comment-dots comment-icon fa-xl"></i>
              <i class="fa-solid fa-share fa-xl share-icon"></i>
            </div>
            <div class="right">
              <i class="fa-regular fa-bookmark fa-xl"></i>
            </div>
          </div>
          <div class="post-info" id="sec-id-272">
            <p>I am vaibhav of
              herevsiensks nsjensne sjd dndbxnd dnf d rbr rbr rbr ensksma a zms s s sns s snns enemmeme e emdme.rndnxjxbd dI am vaibhav of
              herevsiensks nsjensne sjd dndbxnd dnf d rbr rbr rbr ensksma a zms s s sns s snns enemmeme e emdme.rndnxjxbd d
              <bold class="readmore">read more.</bold>
              </bold>
            </p>
          </div>

        </div>
        <div class="post" id="sec-id-273">
          <div class="postName">
            <div class="image">

            </div>
            <div class="name">
              <p>Name of User</p>
            </div>
          </div>
          <div class="post-block">
            <div class="post-">
              <div>
                <img src="./assets/images (7).jpeg" alt="alter">
              </div>
              <div>
                <img src="./assets/images (8).jpeg" alt="">
              </div>
              <div>
                <img src="./assets/images (9).jpeg" alt="">
              </div>
              <div>
                <video src="./assets/test.mp4" type="video/mp4" autoplay muted loop></video>
              </div>
            </div>
            <div class="count">
              <i class="fa-solid fa-circle-dot fa-2xs"></i>
              <i class="fa-solid fa-circle fa-2xs"></i>
              <i class="fa-solid fa-circle-dot fa-2xs"></i>
            </div>
          </div>
          <div class="post-actions">
            <div class="left">
              <i class="fa-regular fa-heart fa-xl"></i>
              <i class="fa-regular fa-comment-dots comments-icon fa-xl"></i>
              <i class="fa-solid fa-share fa-xl"></i>
            </div>
            <div class="right">
              <i class="fa-regular fa-bookmark fa-xl"></i>
            </div>
          </div>
          <div class="post-info" id="sec-id-273">
            <p>I am vaibhav of
              herevsiensks nsjensne sjd dndbxnd dnf d rbr rbr rbr ensksma a zms s s sns s snns enemmeme e emdme.rndnxjxbd d
              <bold>read more.</bold>
              </bold>
            </p>
          </div>

        </div>
      </div>
      <div class="commentbox">
        <div class="comment-nav">
          <div class="back"><i class="comment-back-icon fa-solid fa-circle-arrow-left fa-xl"></i></div>
          <div class="commentTag">
            <strong>Comments</strong>
          </div>
        </div>
        <div class="comments">
          <div class="comment">
            <div class="info">
              <div class="name">
                <p>Its Name</p>
              </div>
              <div class="message">
                <p>This is Message if you have any queries reguarding it dont make me know about if it is already beautiful</p>
              </div>
            </div>
            <div class="logo">

            </div>

          </div>
          <div class="comment">
            <div class="info">
              <div class="name">
                <p>Its Name</p>
              </div>
              <div class="message">
                <p>This is Message if you have any queries reguarding it dont make me know about if it is already beautiful</p>
              </div>
            </div>
            <div class="logo">

            </div>

          </div>
        </div>
        <div class="contacts send-bar">
          <div class="share-nav">
            <div class="back"><i class="share-back-icon fa-solid fa-circle-arrow-left fa-xl"></i></div>
            <div class="shareTag">
              <strong>Share</strong>
            </div>
          </div>
          <div class="share">
            <div class="contact">
              <div class="logo">
                <img src="./assets/images (7).jpeg" alt="">
              </div>
              <p class="name">
                Abra ka dabra share
              </p>
            </div>
            <div class="contact">
              <div class="logo">
                <img src="./assets/images (7).jpeg" alt="">
              </div>
              <p class="name">
                Abra ka dabra share
              </p>
            </div>
            <div class="contact">
              <div class="logo">
                <img src="./assets/images (7).jpeg" alt="">
              </div>
              <p class="name">
                Abra ka dabra share
              </p>
            </div>
            <div class="contact">
              <div class="logo">
                <img src="./assets/images (7).jpeg" alt="">
              </div>
              <p class="name">
                Abra ka dabra share
              </p>
            </div>
          </div>


        </div>
        <div class="inputBar">
          <textarea class="comment-input" placeholder="enter your comment"></textarea>
          <div class="send addComment">
            <i class=" fa-solid fa-paper-plane fa-xl "></i>
          </div>
        </div>
      </div>
    </div>
    <div class="reels-page">
      <div class="reels">
        
      </div>
    </div>
    <div class="profile-page">
      <header>
        <div class="logo">
          <img <% if(profile != "") {%> src="<%= profile %>" <% } else {%> style="display:none;"<% }%> alt="" />
          <p><%= username %></p>
        </div>
        <div class="followers">
          <div><i>67</i>
            <p>Followers</p>
          </div>
          <div><i>67</i>
            <p>Following</p>
          </div>
          <div><i>67</i>
            <p>Posts</p>
          </div>
        </div>
      </header>
      <main>
        <div class="info-user">
          <p><%= bio %></p>
          <a href="/user/editInfo"><div class="edit-profile" style="display: flex; gap:0.2rem; padding:0.3rem;padding-left:0; background: #FF0069;border-radius: 0.2rem;width: 4rem;justify-content: center;align-items:center;text-wrap: nowrap;">
            <i class=" fa-solid fa-pen-to-square fa-sm" style="
                        color:white;
                        padding: 0.2rem;

                      "></i><p style="
                      font-size: x-small
                      ">Edit profile</p>
          </div>

        </div>
      </a>
      </main>
      <footer>
        <div class="posts">
          <div class="devider">
            <div class="active-devider all-post">
              <img src="./assets/grid.svg" alt="">
            </div>
            <div class="reels-post">
              <img src="./assets/reels.svg" alt="./assets/reels.svg">
            </div>
          </div>
          <div class="grid-posts-all grid">
            <div>
              <img src="./assets/images (7).jpeg" alt="./assets/images (7).jpeg">
            </div>
            <div>
              <img src="./assets/images (8).jpeg" alt="./assets/images (8).jpeg">
            </div>
            <div>
              <img src="./assets/images (9).jpeg" alt="./assets/images (9).jpeg">
            </div>
            <div>
              <img src="./assets/images (7).jpeg" alt="./assets/images (7).jpeg">
            </div>
            <div>
              <img src="./assets/images (7).jpeg" alt="./assets/images (8).jpeg">
            </div>
            <div>
              <img src="./assets/images (7).jpeg" alt="./assets/images (9).jpeg">
            </div>
            <div>
              <img src="./assets/images (7).jpeg" alt="./assets/images (7).jpeg">
            </div>
            <div>
              <img src="./assets/images (7).jpeg" alt="./assets/images (8).jpeg">
            </div>
            <div>
              <img src="./assets/images (7).jpeg" alt="./assets/images (9).jpeg">
            </div>
            <div>
              <img src="./assets/images (7).jpeg" alt="./assets/images (7).jpeg">
            </div>
            <div>
              <img src="./assets/images (7).jpeg" alt="./assets/images (8).jpeg">
            </div>
            <div>
              <img src="./assets/images (7).jpeg" alt="./assets/images (9).jpeg">
            </div>
          </div>
          <div class="grid-reels grid">
            <div>
              <video src="./assets/test.mp4" autoplay muted loop></video>
            </div>
            <div>
              <video src="./assets/test.mp4" autoplay muted loop></video>
            </div>
            <div>
              <video src="./assets/test.mp4" autoplay muted loop></video>
            </div>
            <div>
              <video src="./assets/test.mp4" autoplay muted loop></video>
            </div>
            <div>
              <video src="./assets/test.mp4" autoplay muted loop></video>
            </div>
            <div>
              <video src="./assets/test.mp4" autoplay muted loop></video>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <div class="bottom-bar">

      <div class="active">
        <i class="fa-solid fa-house fa-2xl"></i>
      </div>
      <div>
        <i class="fa-regular fa-square-plus fa-2xl"></i>
      </div>
      <div>
        <i class="fa-brands fa-instagram fa-2xl"></i>
      </div>
      <div>
        <i class="profile-icon"><img <% if(profile != "") {%> src="<%= profile %>" <% } else {%> style="display:none;"<% }%>  > </img> </i>
      </div>
    </div>

  </div>
  <script src="./Scripts/main.js"></script>
</body>
</html>